# ====================================================================
# 1. 基础环境与系统文件 (Mac / General)
# ====================================================================
.DS_Store
.DS_Store?
._*
Log/
*.log
.githooks/
autopull.sh

# ====================================================================
# 2. Xcode 核心忽略项 (User Settings & States)
# ====================================================================
*.xcuserstate
xcuserdata/

# ====================================================================
# 3. XcodeGen 核心配置
# ====================================================================
# 通过 project.yml 动态生成，不提交工程文件本体
*.xcodeproj/
*.xcworkspace/

# ====================================================================
# 4. 构建产物、打包与缓存
# ====================================================================
build/
DerivedData/
*.ipa
*.dSYM/
*.dSYM.zip
*.hmap
/*.gcno
.build/

# ====================================================================
# 5. 依赖管理工具
# ====================================================================
.swiftpm/
